.import-card {
  width: 400px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  background: none;
  background: rgba(255,255,255,0.8);
  }
mat-card{
  position: relative;
}
.card-title{
  font-size: 16px;
  font-weight: 400;
}
.content{
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
}
.mat-card-content{

}

.uploadfilecontainer {
  background-image: url("../../../assets/img/cloud.jpg");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  height: 140px;
  width: 80%;
  border: 2px dashed #3f51b5;
  border-radius: 10px;
  margin: 10px auto;
}

.uploadfilecontainer:hover {
  cursor: pointer;
  background-color: #3f51b5 !important;
  opacity: 0.6;
}

.files-list {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-height: 30px;
  margin: 10px auto;
  background: #ffffff;
  border: 1px dashed;
  border-radius: 12px;
  padding: 5px;
  color: #3f51b5;
}

.files-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
}
.files-list p{
  margin: 5px 0 0 0;
}
.delete-file{
  transform: translateY(-15%);
}
.line-label{
  font-size: 13px;
  margin-left: 30px;
  display: inline-block;
}
.import-button{
  margin-left: 20px;
}
.counters-container{
  margin-top: 80px;
  text-align: center;
}
.film-list{
  margin-bottom: 20px;
}
.imported-title{
  font-size: 14px;
  display: inline-block;
  font-weight: 500;
}
.imported-number{
  margin-left: 5px;
  font-weight: 600;
}
.result-container{
  margin-top: 50px;
}
.green{
  vertical-align: bottom;
  color: #46a35e;
}

.success{
  color: #46a35e;
  font-weight: 400;
}
.fail{
  color: #f44336;
  font-weight: 400;
}
/*drag drop*/


.buttons{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 20px;
}
.center{
  text-align: center;
}
