<mat-card class="reset-card">
  <div class="card-header">
    <div class="center">
      <div class="card-title"><h1>Réinitialiser la base de données</h1></div>
    </div>
  </div>
  <form
    name="form"
    (ngSubmit)="f.form.valid"
    #f="ngForm"
    novalidate
  >
    <mat-card-content>
      <div class="content">
        <div *ngIf="!hasSucceed">
          <div class="reset-text">
            <mat-checkbox class="reset-checkbox" [(ngModel)]="toClean" [ngModelOptions]="{standalone: true}"></mat-checkbox>
            <span>En cochant ici vous acceptez de supprimer:</span>
            <div class="suppr-list">
              <ul>
                <li>films</li>
                <li>court-métrages</li>
                <li>réalisateurs</li>
                <li>thèmes</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="rappel mt20" [class.after-reset]="hasSucceed">
          <span>Les listes de détails, supports, normes, etc, ne {{hasSucceed? ' sont ': ' seront '}} pas supprimées</span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="form-group center action-container">
        <div
          role="alert"
          *ngIf="f.submitted"
          [className]="hasSucceed ? 'success' : 'fail'"
        >
          {{ messageResponse }}
        </div>
      </div>
      <div class="buttons center">
        <button mat-raised-button (click)="return()" color="link">Retour</button>
        <button mat-raised-button *ngIf="toClean && !hasSucceed" class="ml20" (click)="resetAll()" color="accent">Confirmer</button>
      </div>

    </mat-card-actions>
  </form>
</mat-card>
