.reset-card {
  width: 400px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  background: none;
  background: rgba(255,255,255,0.8);
}
mat-card{
  position: relative;
}
.center{
  text-align: center;
}
.card-title{
  font-size: 16px;
  font-weight: 400;
}
.mat-card-content{
  margin-top: 50px;
  text-align: center;
  position: relative;
}
.content{
}
mat-checkbox{
  margin-left: 20px;
}
.import-button{
  margin-left: 20px;
}
.green{
  vertical-align: bottom;
  color: #46a35e;
}
title{
  font-size: 13px;
  display: inline-block;
}
.success{
  color: #46a35e;
  font-weight: 400;
}
.fail{
  color: #f44336;
  font-weight: 400;
}
.rappel{
  font-size: 12px;
}
.ml20{
  margin-left: 20px;
}
.action-container{
  position: absolute;
  bottom: 20%;
  text-align: center;
  left: 0;
  right: 0;
}
.reset-checkbox{
  text-align: left;
  margin-right: 20px;
}
.suppr-list{
  padding-left: 60px;
}
.after-reset{
  font-size:13px;
}

ul {
  position: relative;
  list-style: none;
  margin-left: 0;
  padding-left: 1.2em;
}
ul li:before {
  content: "x";
  font-weight: 600;
  color: #ff4081;
  position: absolute;
  left: 0;
}
.reset-text{
  text-align: left;
  margin-left: 20px;
}
.buttons{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 20px;
}
/*drag drop*/

