.container{
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  bottom: 50%;
  width: 1500px;
}
.item{
  display: inline-block;
  vertical-align: middle;
}
.container .item:first-child{
  margin-right: 20px;
}
.container .item:last-child{
  margin-left: 20px;
}
