<mat-card class="import-card">
  <div class="card-header">
    <div class="center">
      <div class="card-title"><h1>Import Excel</h1></div>
    </div>
  </div>
    <mat-card-content>
      <div class="content">
        <div *ngIf="!hasExcelFile">
          <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (files)="uploadFile($event)">
            <input hidden type="file" #fileInput (change)="uploadFile($event)">
          </div>
          <div *ngIf="isNotExcel" class="center"><span class="fail">Fichier excel au format XLS (.xls) requis</span></div>
          <div *ngIf="file" class="files-list">
            <p> {{ file.name }} </p>
            <button class="delete-file" (click)="deleteAttachment()">
              <img src="../../assets/img/Recycle_Bin_Full.png">
            </button>
          </div>
        </div>
        <div class="counters-container">
          <div *ngIf="linesImported>0" class="film-list">
            <div class="title">&nbsp;&nbsp;{{importedTitle}}</div>
          </div>
          <div *ngIf="isProcessing || isSucceed">
            <span class="line-label">Nombre de lignes importées : </span><span>{{linesImported}}</span>
          </div>
        </div>
        <div class="result-container">
          <span [className]="isSucceed ? 'success' : 'fail'">{{messageResult}}</span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="form-group center">
        <button mat-raised-button color="link" (click)="return()">Retour</button>
        <button mat-raised-button color="primary" *ngIf="!messageResult" (click)="import()" [disabled]="!file" class="import-button">Importer</button>
      </div>
      <div class="form-group center">

      </div>
    </mat-card-actions>
</mat-card>
