<ng-container *ngIf="film">
  <div class="card">
    <div class="title-container">
      <div>
        <span><h1 mat-dialog-title>{{film.titre}}</h1>{{' (' + film.annee + ')'}}</span>
        <div *ngIf="film.titreVf" class="titrevf-container">
          <span>{{film.titreVf}}</span>
        </div>
      </div>
      <button class="close" mat-button mat-dialog-title (click)="close()">X</button>
    </div>
    <div mat-dialog-content class="content">
      <div *ngIf="film.realisateurs" class="realisateur-container">
        <span *ngFor="let rea of film.realisateurs; let index; let isLast=last;">{{rea}}{{isLast ? '' : ', '}}</span>
      </div>
      <div *ngIf="film.description" class="description-container">
        <span>{{film.description}}</span>
      </div>
      <div *ngIf="film.pays" class="production-container">
        <span class="label"></span>
        <span *ngFor="let pay of film.pays; let index; let isLast=last;" class="flag-box" [style.background-image]="'url(../../assets/img/flags/' + pay + '.png)'" [attr.title]="filmLabels.get(pay)"></span>
      </div>
      <div *ngIf="film.duree" class="duree-container">
        <span>{{film.duree + " min."}}</span>
      </div>
      <div *ngIf="film.subLangs" class="sub-container">
        <span class="label">Sub : </span>
        <span *ngFor="let lang of film.subLangs; let index; let isLast=last;" [attr.title]="filmLabels.get(lang)">{{lang}}{{isLast ? '' : ', '}}</span>
      </div>
      <div *ngIf="film.support" class="support-container">
        <span [attr.title]="this.listLabels.get(film.support)">{{film.support + ", "}}</span><span>{{film.norme}}</span>
      </div>
      <div *ngIf="film.details" class="detail-container">
        <span *ngFor="let detail of film.details; let index; let isLast=last;" [attr.title]="this.listLabels.get(detail)">{{detail}}{{isLast ? '' : ', '}}</span>
      </div>
      <div *ngIf="film.shortfilms && film.shortfilms.length>0">
        <span *ngFor="let sf of film.shortfilms; let index; let isLast=last;">{{sf}}{{isLast ? '' : ', '}}</span>
      </div>
      <div *ngIf="film.themes && film.themes.length>0" class="theme-list">
        <mat-chip-list aria-label="themes">
          <mat-chip *ngFor="let theme of film.themes" [ngStyle]="{'background-color': theme.color,'color': getColor(theme)}">
            {{theme.name}}
          </mat-chip>
        </mat-chip-list>
      </div>
      <div class="categorie-container">
        <div class="categorie">
          <span>{{film.categorie}}</span>
        </div>
        <div *ngIf="film.source" class="source">
        <span [attr.title]="this.listLabels.get(film.source)">
          {{'(' + film.source + ')'}}
        </span>
        </div>
      </div>
    </div>
  </div>
</ng-container>
