<ng-container *ngIf="film">
  <div class="title-container">
    <div>
      <h1 mat-dialog-title>{{film.titreVf? film.titreVf : film.titre}}</h1>
    </div>
    <div class="theme-list">
      <mat-chip-list aria-label="Fruit selection">
        <mat-chip *ngFor="let theme of film.themes" [ngStyle]="{'background-color': theme.color,'color': getColor(theme)}">
          {{theme.name}}
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <div mat-dialog-content class="content">
    <table>
      <tr>
        <td>{{film.genre +", "+film.tip}}</td>
        <td>
          <div class="right">
            <span>{{film.duree+"'  "}}</span><span>{{film.annee}}</span>
          </div>
        </td>
      </tr>
    </table>
    <div *ngIf="film.description">
      <span>{{film.description}}</span>
    </div>
    <table>
      <tr>
        <td>
          <div>
            <div class="label">Réalisateur{{film.realisateurs && film.realisateurs.length>1?'s':''}} :</div>
            <div><span *ngFor="let rea of film.realisateurs; let index; let isLast=last;">{{rea}}{{isLast ? '' : ', '}}</span></div>
          </div>
        </td>
        <td>
          <div class="right"><span *ngFor="let detail of film.details; let index; let isLast=last;">{{detail}}{{isLast ? '' : ', '}}</span></div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="label">Production :</div>
          <div><span *ngFor="let pay of film.pays; let index; let isLast=last;">{{pay}}{{isLast ? '' : ', '}}</span></div>
        </td>
        <td>
          <div class="right">
            <span>{{film.support +", "+film.norme}}</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div *ngIf="film.source">
            <div class="label">Source:</div>
            <div><span>{{film.source}}</span></div>
          </div>
        </td>
        <td>
          <div *ngIf="film.subLangs" class="right">
            <!--<div class="label">Sous-titres :</div>
            <div><span *ngFor="let lang of film.subLangs; let index; let isLast=last;">{{lang}}{{isLast ? '' : ', '}}</span></div>-->
            <div ><div *ngFor="let lang of film.subLangs; let index; let isLast=last;" class="flag-box" [style.background-image]="'url(../../assets/img/flags/' + lang + '.png)'"></div></div>
          </div>
        </td>
      </tr>
    </table>
    <div>
      <span *ngFor="let sf of film.shortfilms; let index; let isLast=last;">{{sf}}{{isLast ? '' : ', '}}</span>
    </div>
  </div>
  <div mat-dialog-actions class="flex-center">
    <button mat-raised-button color="primary" (click)="close()" cdkFocusInitial>Fermer</button>
  </div>
</ng-container>

