<div class="dialog-container">
  <div>
    <div class="title">
      <mat-label>Gestion des thèmes</mat-label>
    </div>
    <div class="theme-gen-container">
      <mat-form-field class="dialog-chip-field">
        <mat-chip-list #chipList [(ngModel)]="selectedThemes" multiple>
          <mat-chip
            *ngFor="let theme of themes"
            [selectable]="selectable"
            [selected]="isSelected(theme)"
            (click)="toggleTheme(theme)"
            [removable]="removable"
            (removed)="remove(theme)">
            {{theme}}&nbsp;
            <mat-icon matChipRemove>{{isSelected(theme) ? "edit" : "cancel"}}</mat-icon>
          </mat-chip>
          <input (focus)="checkPlaceHolder()" (blur)="checkPlaceHolder()" matInput placeholder=" {{inputPlaceholder}} "
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
    </div>
    <div *ngIf="selectedThemes.length>0" class="dialog-edit-container">
      <mat-form-field class="dialog-edit-field">
        <mat-label>Nouveau nom du thème</mat-label>
        <input matInput
               [(ngModel)]="currentValue"
               (keydown.enter)="update()"
               class="dialog-edit-input">
      </mat-form-field>
      <button
        mat-icon-button
        color="red"
        type="button"
        (click)="update()"
        aria-label="bouton de mise a jour du theme">
          <mat-icon>spellcheck</mat-icon>
      </button>
    </div>
    <div class="dialog-button">
      <button
        type="button" mat-raised-button
        mat-dialog-close
        color="primary">
          Fermer
      </button>
    </div>
  </div>
</div>
